%h1 Nueva Pregunta

.error_messages
  = error_messages_for :question
.form
  - form_for @question do |f|
    = render :partial => 'form', :locals => {:f => f}
    = submit_tag t("question.create_button") , :class => 'submit_button'

