log/*.log
log/*.pid
tmp/**/*
.DS_Store
doc/api
doc/app
doc/plugins
coverage
db/*.sqlite3
db/schema.rb
db/sphinx
config/*.sphinx.conf
config/database.yml
config/*.sphinx.conf
db/sphinx
public/system
config/database.yml~