.home_question {
  border-top: 2px solid #12343d;
  float: left;
  margin: 5px 0 0 0;
  background: #ffffff; }

.tags a {
  background: #13a5b8;
  color: white;
  margin: 3px 3px 3px 3px;
  padding: 6px 9px 6px 9px;
  text-decoration: none; }
  .tags a:hover {
    text-decoration: underline; }

.question .data .title {
  font-size: 24px;
  color: #e57c08; }
  .question .data .title a {
    text-decoration: none; }
.question .data .body {
  background: #d1ba84;
  padding: 20px;
  margin: 10px 0 10px 0; }
