.home_question {
  border-top: 1px solid #12343d;
  float: left;
  margin: 5px 0 0 0;
  background: #ffffff; }
  .home_question .metadata .stat {
    display: inline;
    float: left;
    text-align: center;
    width: 33%;
    color: white;
    font-weight: bold; }
    .home_question .metadata .stat span {
      display: block; }
  .home_question .metadata .stat_views {
    background: #e57c08; }
  .home_question .metadata .stat_answers {
    background: #13a5b8; }
  .home_question .metadata .stat_votes {
    background: #12343d; }

.question .tags, .home_question .tags {
  margin: 12px 0 12px 0; }
  .question .tags a,   .home_question .tags a {
    background: #13a5b8;
    color: white;
    margin: 3px 3px 3px 3px;
    padding: 6px 9px 6px 9px;
    text-decoration: none; }
    .question .tags a:hover,     .home_question .tags a:hover {
      text-decoration: underline; }

.question .data, .answer .data {
  border-top: 1px solid #12343d;
  background: #d1ba84; }
  .question .data .title,   .answer .data .title {
    font-size: 24px;
    color: #e57c08;
    padding: 12px; }
    .question .data .title a,     .answer .data .title a {
      text-decoration: none; }
  .question .data .body,   .answer .data .body {
    margin: 12px 0 12px 0;
    padding: 12px; }
  .question .data .tags,   .answer .data .tags {
    padding: 12px; }

.answer .body {
  padding: 12px; }
.answer .data {
  border-top: 1px solid #12343d;
  background: #efefef; }
.answer .right_data {
  border-top: 1px solid #12343d;
  background: #9BD59B; }
