.user_box {
  font-size: 12px; }
  .user_box .user_image {
    float: left;
    margin: 18px auto;
    text-align: center; }
    .user_box .user_image img {
      border: 6px solid white; }
  .user_box .user_date {
    floar: right; }
