
.form
  - form_for @answer , answer_path(@answer) , :id => 'answer_new_form' , :method => 'put' do |f|
    #wmd-button-bar
    .field
      = f.text_area :body, :cols => 82 , :rows => 16 , :id => "wmd-input"
    = submit_tag "Responder!" , :class => 'submit_button'

- content_for :javascripts do
  = javascript_include_tag('wmd/showdown','wmd/wmd')
  
  
- content_for :stylesheets do
  = stylesheet_link_tag('wmd')

