%ul
  %li= link_to(t('model.questions'), admin_questions_path)
  %li= link_to(t('model.answers'), admin_answers_path)
  %li= link_to(t('app.users'), admin_users_path)
  %li= link_to(t('app.logout'), logout_path)
  
