#logo
  %h1= link_to('?limeo' , root_path)
  %p Preguntas geeks, Respuestas geeks
#menu
  - if is_admin?
    = render :partial => 'layouts/admin_menu'
  - else
    = render :partial => 'layouts/user_menu'
