.container_16
  #logo_container{:class => "grid_9 alpha"}
    %span#logo= link_to(image_tag('logo6.png') , root_path)
    %span#tag_line= APP_CONFIG['site_tagline']
  #side_header{:class => "grid_7 omega"}  
    #menu{:class => "grid_7"}
      - if is_admin?
        = render :partial => 'layouts/admin_menu'
      - else
        = render :partial => 'layouts/user_menu'
    
